[submodule "third_party/scorched3d"]
	path = third_party/scorched3d
	url = https://github.com/bberberov/scorched3d.git
[submodule "third_party/expat"]
	path = third_party/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
