<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- M5: LAN hosting/joining over real sockets (NetServerTCP3 - see
         engine_jni.cpp's startLocalGame/connectToHost) needs plain INTERNET
         even for local-network traffic; ACCESS_WIFI_STATE is for reading
         this device's LAN IP to show/share for "connect by IP" (see
         MainActivity.getLocalIpAddress). CHANGE_WIFI_MULTICAST_STATE backs
         the MulticastLock LanDiscovery holds while NSD registration/
         discovery is active - some OEM Wi-Fi stacks otherwise drop the
         mDNS multicast traffic NSD depends on. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScorchDroid">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>